body {
  margin: 0;
  font-family: -apple-system, CBlinkMacSystemFont, "Courier New", 'Courier New', Courier, monospace, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(216, 193, 39), rgb(242, 40, 132)) repeat scroll 0% 0%;
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
